<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

	<display-name>xls-file-upload-restlet</display-name>

	<servlet>
		<servlet-name>RestletServlet</servlet-name>
		<servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
		<init-param>
			<param-name>org.restlet.application</param-name>
			<param-value>com.swayam.demo.web.xls.restlet.endpoint.RestletApplicationEndPoint</param-value>
		</init-param>
	</servlet>
	
	<servlet>
		<servlet-name>JaxRsServlet</servlet-name>
		<servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
		<init-param>
			<param-name>org.restlet.application</param-name>
			<param-value>com.swayam.demo.web.xls.restlet.endpoint.JaxRsApplicationEndPoint</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>RestletServlet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>JaxRsServlet</servlet-name>
		<url-pattern>/jaxrs/*</url-pattern>
	</servlet-mapping>	
	
</web-app>
